<!DOCTYPE html>
<html>
<head>
    <title>home</title>
</head>
<body>

<h1>Pagina principal</h1>
<ul>
    <% for (var index in clientes ) { %>
        <li> <%=  clientes[index].nome%> </li>
    <% } %>
</ul>

</body>
</html>