<!DOCTYPE html>
<html>
<head>
    <title>home</title>
</head>
<body>

<h1>Pagina principal</h1>
<ul>
    <% for (var index in clientes ) { %>
        <li> <%=  clientes[index].nome %> </li>
    <% } %>
</ul>

<br>
<% for (var i in erros ) { %>
    <li> <%=  erros[i].msg %> </li>
<% } %>
<br>
<form action="/" method="post">
    <label>Nome</label>
    <input type="text" name="nome" placeholder="seu nome camarada">
    <label>Email</label>
    <input type="email" name="email" placeholder="seu email camarada">

    <button type="submit">Salvar</button>
</form>
</body>
</html>